<!DOCTYPE html>
<html>
  <head>
    <title>FOODDeliveryApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_pack_tag "food_app" %>
  </head>

  <body>
    <%= yield %>
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
  </body>
</html>
